@charset "utf-8";
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Helpers > Root
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;
--gray-8: #343A40;
--unnamed-color-9ac14e: #9AC14E;
--unnamed-color-ff9138: #FF9138;
--pink-7: #D6336C;
--gray-9: #212529;
--gray-4: #CED4DA;
--gray-5: #ADB5BD;
--gray-6: #868E96;
--unnamed-color-2f3435: #2F3435;
--gray-1: #F1F3F5;
--unnamed-color-ea7066: #EA7066;
--gray-2: #E9ECEF;
--gray-0: #F8F9FA;
--unnamed-color-ea77ad: #EA77AD;
--gray-7: #495057;
--gray-3: #DEE2E6;
--red-8: #E03131;
--red-9: #C92A2A;
--red-7: #F03E3E;
--red-6: #FA5252;
--red-1: #FFE3E3;
--red-2: #FFC9C9;
--red-3: #FFA8A8;
--red-4: #FF8787;
--red-0: #FFF5F5;
--red-5: #FF6B6B;
--pink-9: #A61E4D;
--pink-8: #C2255C;
--pink-3: #FAA2C1;
--pink-4: #F783AC;
--pink-2: #FCC2D7;
--pink-1: #FFDEEB;
--pink-6: #E64980;
--pink-0: #FFF0F6;
--pink-5: #F06595;
--grape-7: #AE3EC9;
--grape-8: #9C36B5;
--grape-9: #862E9C;
--grape-6: #BE4BDB;
--grape-5: #CC5DE8;
--grape-1: #F3D9FA;
--grape-2: #EEBEFA;
--grape-3: #E599F7;
--grape-4: #DA77F2;
--grape-0: #F8F0FC;
--violet-5: #845EF7;
--violet-6: #7950F2;
--violet-7: #7048E8;
--violet-8: #6741D9;
--violet-9: #5F3DC4;
--violet-0: #F3F0FF;
--violet-1: #E5DBFF;
--violet-2: #D0BFFF;
--violet-3: #B197FC;
--violet-4: #9775FA;
--indigo-6: #4C6EF5;
--indigo-7: #4263EB;
--indigo-8: #3B5BDB;
--indigo-9: #364FC7;
--indigo-5: #5C7CFA;
--indigo-4: #748FFC;
--indigo-3: #91A7FF;
--indigo-2: #BAC8FF;
--indigo-1: #DBE4FF;
--indigo-0: #EDF2FF;
--cyan-9: #0B7285;
--cyan-8: #0C8599;
--cyan-7: #1098AD;
--cyan-6: #15AABF;
--cyan-5: #22B8CF;
--cyan-4: #3BC9DB;
--cyan-3: #66D9E8;
--cyan-2: #99E9F2;
--cyan-1: #C5F6FA;
--cyan-0: #E3FAFC;
--teal-9: #087F5B;
--teal-8: #099268;
--teal-7: #0CA678;
--teal-6: #12B886;
--teal-5: #20C997;
--teal-4: #38D9A9;
--teal-3: #63E6BE;
--teal-2: #96F2D7;
--teal-1: #C3FAE8;
--teal-0: #E6FCF5;
--green-7: #37B24D;
--green-8: #2F9E44;
--green-9: #2B8A3E;
--green-6: #40C057;
--green-5: #51CF66;
--green-4: #69DB7C;
--green-3: #8CE99A;
--green-2: #B2F2BB;
--green-1: #D3F9D8;
--green-0: #EBFBEE;
--lime-9: #5C940D;
--lime-8: #66A80F;
--lime-7: #74B816;
--lime-6: #82C91E;
--lime-5: #94D82D;
--lime-4: #A9E34B;
--lime-3: #C0EB75;
--lime-2: #D8F5A2;
--lime-1: #E9FAC8;
--lime-0: #F4FCE3;
--yellow-9: #E67700;
--yellow-8: #F08C00;
--yellow-7: #F59F00;
--yellow-6: #FAB005;
--yellow-5: #FCC419;
--yellow-4: #FFD43B;
--yellow-3: #FFE066;
--yellow-2: #FFEC99;
--yellow-1: #FFF3BF;
--yellow-0: #FFF9DB;
--orange-9: #D9480F;
--orange-8: #E8590C;
--orange-7: #F76707;
--orange-6: #FD7E14;
--orange-5: #FF922B;
--orange-4: #FFA94D;
--orange-3: #FFC078;
--orange-2: #FFD8A8;
--orange-1: #FFE8CC;
--orange-0: #FFF4E6;
--blue-0: #E7F5FF;
--blue-1: #D0EBFF;
--blue-2: #A5D8FF;
--blue-3: #74C0FC;
--blue-4: #4DABF7;
--blue-5: #339AF0;
--blue-6: #228BE6;
--blue-7: #1C7ED6;
--blue-8: #1971C2;
--blue-9: #1864AB;
--unnamed-color-f0c24b: #F0C24B;
--unnamed-color-b5d56a: #B5D56A;
--unnamed-color-a597e7: #A597E7;
--unnamed-color-5f8dda: #5F8DDA;
--unnamed-color-f0f2f2: #F0F2F2;
--unnamed-color-212b33: #212B33;
--unnamed-color-2a4c86: #2A4C86;
--unnamed-color-86899a: #86899A;
--unnamed-color-bbbecf: #BBBECF;
--unnamed-color-9b9fb2: #9B9FB2;
--unnamed-color-ffbb84: #FFBB84;
--unnamed-color-ffbc38: #FFBC38;
}