@charset "utf-8";
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Components > Badges
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.badge {
    border-radius: $border-radius--px;
    color: $white;
    font-size: $font-size-xxs;
    padding: .125rem .375rem;
    transition: $transition-base;
    user-select: none;

    @each $color, $value in $colors {
        &.badge--#{$color} {
            @include badge-variant($value);
        }
    }
}

