@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Pages > Guideline
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.hljs.code {
    font-size: .75rem;
    max-height: 10rem;
    padding: .75rem 1.5rem;
    font-family: $font-family-monospace;
}

.gui-side-bar {
    position: fixed;
    width: 14rem;
    height: 100%;

    // background-color: darken($primary, 45%);
    background-color: #0d1422;
    box-shadow: 6px 16px 32px -18px $lightgrey;
    color: $white;
    text-transform: capitalize;
    z-index: 2;

    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }

    .gui-side-nav {
        text-align: center;

        .side-title {
            padding: 2rem 0;

            img {
                width: 50%;
            }
        }

        #guideMenu {
            border-top: 1px rgba($white, 0.16) solid;
            text-align: left;

            li {
                margin: .125rem 0;

                a {
                    display: block;
                    user-select: none;
                    color: rgba($white, 0.7);
                    font-size: .75rem;
                    padding: .875rem 0 .875rem 2.75rem;
                    transition: .125s all ease-in-out;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba($white, 0.16);
                        color: $white;

                        > i {
                            color: lighten($primary, 20%);
                            transform: translateY(-50%) scale(1.15);
                        }
                    }

                    &.active {
                        background-color: rgba($white, 0.16);
                        color: $white;

                        i {
                            color: lighten($primary, 20%);
                            transform: translateY(-50%) scale(1.15);
                        }
                    }

                    > i {
                        font-size: 1rem;
                        left: 1rem;
                        color: lighten($primary, 5%);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .125s all ease-in-out;
                    }
                }
            }
        }
    }
}

/*  header
----------------------------------------  */

.gui-main-cnt {
    hr {
        margin: 1rem 0;
    }

    .gui-header {
        padding: 1.5rem 1rem 1.25rem;
        text-transform: uppercase;

        h1 {
            font-size: 0;

            > font {
                color: #A7B1B6;
                font-weight: 300;
                letter-spacing: 2px;
                top: .625rem;
            }
        }

        .gui-update {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: .875rem;
            padding: .25rem 1rem;
            background-color: #EFF3F5;

            i {
                color: #A7B1B6;
                font-size: 1.25rem;
                vertical-align: sub;
                margin-right: .5rem;
            }
        }
    }

    margin-left: 14rem;
    overflow: hidden;
    float: left;
    width: calc(100% - 14rem);

    &.active {
        margin-left: 0;
        width: 100%;
    }
}

/*  main content
----------------------------------------  */

/*  icon set
----------------------------------------  */
.gui-icon-blk {
    @extend %w--10;
    float: left;

    .gui-icon-cnt {
        background-color: $smoke;
        display: block;
        margin: .5rem .25rem;
        padding: 1.5rem .5rem .5rem;
        text-align: center;
        border-radius: 4px;
        box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px $white inset;

        > a {
            display: block;
        }

        i {
            font-size: 2rem;
        }

        p {
            font-family: $font-family-monospace;
            font-size: .75rem;
            padding: .5rem;
            background-color: $white;
            margin-top: 1rem;
            white-space: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            overflow: -moz-hidden-unscrollable;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

}

/*  page about
----------------------------------------  */

.gui-main-cnt {
    .gui-about {
        padding: 2rem 1rem 5rem;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(246, 254, 255, 1) 50%, rgba(180, 242, 250, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(246, 254, 255, 1) 50%, rgba(180, 242, 250, 1) 100%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(246, 254, 255, 1) 50%, rgba(180, 242, 250, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b4f2fa",GradientType=1);
        color: $white;

        h2 {
            font-size: .875rem;
            font-weight: normal;

            > {
                strong, big {
                    font-size: 150%;
                }
            }
        }

        ul {
            font-size: 0;
            margin-left: 1.25rem;
            margin-top: .5rem;

            > li {
                margin-top: 1rem;
                vertical-align: top;
                display: inline-block;
                width: 50%;
                font-size: .875rem;
                padding-right: 1rem;

                &:before {
                    content: "0" attr(data-number) ".";
                    color: $white;
                    font-size: 1.25rem;
                    margin-left: -1rem;
                }

                > p {
                    font-size: 0.9375rem;
                    margin-top: .375rem;
                    margin-bottom: .375rem;
                }

                span {
                    font-size: 0.8125em;
                }

                i {
                    color: $black;
                    font-size: 1.375rem;
                    margin-left: .5rem;
                    margin-right: .25rem;
                }

                strong {
                    text-transform: uppercase;
                }
            }
        }

        .gui-effect-skew {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -50%;
            right: 30%;
            transform: skew(-35deg);
            border-radius: 0 0 180px 0;
            background: rgb(37, 143, 157);
            background: -moz-linear-gradient(90deg, rgba(37, 143, 157, 1) 0%, rgba(0, 182, 206, 1) 50%, rgba(180, 242, 250, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(37, 143, 157, 1) 0%, rgba(0, 182, 206, 1) 50%, rgba(180, 242, 250, 1) 100%);
            background: linear-gradient(90deg, rgba(37, 143, 157, 1) 0%, rgba(0, 182, 206, 1) 50%, rgba(180, 242, 250, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#258f9d",endColorstr="#b4f2fa",GradientType=1);
        }

        .mask_wave {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .gui-icon-heading-ver1-bd:after {
            background-color: $black;
        }

        .gui-icon-heading-ver1-hd:first-letter, .gui-icon-heading-ver1-bd i {
            color: $black;
        }
    }

    .gui-block {
        // https://www.svgbackgrounds.com/#subtle-prism
        padding: 2rem 1rem;
        z-index: 1;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,635,446)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23fafdff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='351' height='292.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
        background-size: cover;
    }

    .gui-cnt-row {
        padding: 0 2rem;

        @extend %clearfix;
    }
}

/*  page content
----------------------------------------  */

.gui-icon-heading-ver1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.gui-icon-heading-ver1-hd, .gui-icon-heading-ver1:after {
    font-size: 1.5rem;
    font-weight: 700;
}

.gui-icon-heading-ver1-hd {
    display: inline-block;

    &:after {
        content: attr(data-heading);
        color: $black;
        font-size: 200%;
        position: absolute;
        top: -55%;
        left: 2.25rem;
        white-space: nowrap;
        opacity: .08;
        font-weight: 500;
    }

    &:first-letter {
        font-size: 175%;
        color: $primary;
        padding-right: 0.25rem;
    }
}

.gui-icon-heading-ver1-bd {
    line-height: .5;
    left: -1rem;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        background-color: $primary;
        opacity: .36;
        height: 1px;
        left: 3rem;
        width: calc(100% - 3rem);
    }

    i {
        &:not(.jb-df-ones) {
            font-size: 1.75rem;
        }

        &.jb-df-ones {
            font-size: 1rem;
        }

        color: $primary;
        opacity: .6;
        left: .5rem;
    }
}

/* sub heading */

.gui-block {
    .gui-sub-heading, .gui-sub-heading-ver1, .gui-sub-heading-ver2 {
        margin-top: 1.25rem;
        text-transform: uppercase;
    }

    .gui-sub-heading, .gui-sub-heading-ver1 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $dark;
    }

    .gui-sub-heading, .gui-sub-heading-ver1 font {
        display: inline-block;
    }

    .gui-sub-heading {
        padding-right: .25rem;
        letter-spacing: 1px;
        border-bottom: lighten($primary, 10%) 1px solid;
    }

    .gui-sub-heading-ver1 {
        margin-left: .5rem;

        font {
            font-size: 50%;
            font-weight: 700;
            line-height: 0;
            padding: .75rem .5rem;
            user-select: none;
            color: $white;
            background-color: lighten($primary, 5%);
        }

        big {
            display: block;
            overflow: hidden;
            white-space: nowrap;

            &:before {
                position: absolute;
                top: 50%;
                left: -3rem;
                width: 2.5rem;
                height: 1px;
                content: '';
                background-color: lighten($primary, 5%);
            }
        }
    }

    .gui-sub-heading:first-letter, .gui-sub-heading-ver1 big:first-letter {
        font-size: 125%;
    }

    .gui-sub-heading-ver2 {
        &:first-letter {
            font-size: 125%;
        }

        font-size: 200%;
        font-weight: 600;
        margin-left: .5rem;
        color: $grey;
    }
}

/* gui description */

.gui-description {
    margin: 0 0 1.5rem 1.25rem;
    color: $grey;
    font-size: 0.875rem;
}

/* code-accordions  */

.code-accordions {
    font-size: 0;
    display: block;
    margin-top: .5rem;
    margin-bottom: .25rem;
    cursor: pointer;
    text-align: right;

    i {
        font-size: 1.25rem;
        margin-right: .5rem;
    }

    span {
        text-decoration: underline;
    }
}

/* Basic card */

.control-card {
    transition: .25s all ease-in-out;

    &:not(.control-card--ver1):not(.control-card--ver2) {
        border-bottom: solid 3px #eff3f5;
        border-radius: 8px;
        background-color: #f7f7f7;

        &:hover {
            transform: translate3d(0, -0.625rem, 0);
            box-shadow: 0 0.5rem 1rem -0.5rem rgba($black, 0.24);
        }
    }

    &.control-card--ver1 {
        padding: .75rem;
        border: 1px solid #eff3f5;
        border-radius: 2px;

        .card-inner {
            overflow: hidden;
            white-space: nowrap;
            padding: 2rem 1rem;
            display: inline-table;
            width: 100%;
            white-space: normal;

            &.push--20 {
                content: '';
                padding-top: 20%;
                display: block;
                width: 100%;
            }

            > i {
                white-space: nowrap;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &.control-card--ver2 {
        padding: 1.5rem .75rem .75rem;
        border: 1px solid #eff3f5;
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0 4px 8px rgba($black, 0.04);
    }
}

/* colorpalette card */

.list-palete {
    margin: 0 0 2rem 0;
    width: 100%;

    @extend %clearfix;

    .palete-card {
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 3px 0 0 rgba(226, 228, 231, 0.75);
        float: left;
        margin: 1rem 1.25% 1rem 0;
        width: 19%;

        &:nth-child(5n) {
            margin-right: 0;
        }

        .palete-color,
        .palete-color__square {
            height: 6rem;
        }

        .palete-color__square {
            width: 50%;
            float: left;

            &:hover {
                width: 100%;
                position: absolute;
            }
        }

        .palete-color__lighten {
            border-top-left-radius: 4px;

            &:hover {
                border-top-right-radius: 4px;
            }
        }

        .palete-color__darken {
            float: right;
            border-top-right-radius: 4px;

            &:hover {
                border-top-left-radius: 4px;
            }
        }

        .palete-color__content {
            padding: 0.75rem;
            color: $lightgrey;

            .palete-color__name {
                font-size: 0.875rem;
                font-weight: medium;
                text-transform: uppercase;
                color: $grey;
            }

            .palete-color__code {
                font-size: 0.75rem;
                line-height: 1.25;
                text-transform: uppercase;
            }
        }
    }
}

@each $color, $value in $btn-colors {
    .palete-color--#{$color} {
        .palete-color__lighten {
            background-color: $value;
        }

        .palete-color__darken {
            background-color: darken($value, 7.5%);
        }
    }
}

@each $color, $value in $bg-colors {
    .palete-color--#{$color} {
        .palete-color__lighten {
            background-color: $value;
        }

        .palete-color__darken {
            background-color: darken($value, 7.5%);
        }
    }
}

@each $color, $value in $greys {
    .palete-color--#{$color} {
        .palete-color__lighten {
            background-color: $value;
        }

        .palete-color__darken {
            background-color: darken($value, 7.5%);
        }
    }
}

/* Typography */

.gui-block .ty-group {
    &:first-of-type {
        margin-bottom: 1rem;
    }

    &:not(:first-of-type) {
        margin: 1rem 0;
    }

    padding-right: 1.5rem;
}

.ty-group .ty-group-head {
    margin-bottom: .25rem;

    strong {
        font-size: 150%;
        color: $primary;
    }

    big {
        margin-right: .75rem;
        margin-left: .75rem;
    }

    sub {
        color: lighten($primary, 5%);
    }
}

.gui-block .ty-group {
    h1, h2, h3, h4, h5, h6 {
        letter-spacing: 1px;
        color: $dark;
    }
}

.ty-group .ty-group-bd {
    padding-left: .5rem;
    color: #A7B1B6;
}

.gui-group .img-sample {
    width: 10rem;
}

.gui-block .gui-group {
    margin: 1rem 0 2rem;
}

.gui-group .btn {
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.btn--neu {
    background-color: $white;
    border-radius: 3px;
    border: none;
    box-shadow: -7px -7px 20px 0px $white, -4px -4px 5px 0px $white, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px $white, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px $white, inset 0px 0px 0px 0px #0001;
    cursor: pointer;
    margin-right: 2rem;
    outline: none;
    overflow: hidden;
    padding: .875rem .625rem;
    text-align: center;
    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

    &:active:after, &.active:after {
        content: '';
        border-radius: 3px;
        box-shadow: 0px 0px 0px 0px $white, 0px 0px 0px 0px $white, 0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px $white, inset -4px -4px 5px 0px $white, inset 7px 7px 20px 0px #0003, inset 4px 4px 5px 0px #0001;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        opacity: 0;
        transform: translateX(-100%);
        background: rgba($white, 0.13);
        z-index: 1;
        background: linear-gradient(to right, rgba($white, 0.13) 0%, rgba($white, 0.13) 77%, rgba($white, 0.5) 92%, rgba($white, 0.3) 100%);
    }

    &:hover:before {
        opacity: 1;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition-property: transform, opacity;
        transition-duration: 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    &.active {
        left: 1rem;
    }
}

.lt-side-menu {
    top: 3px;
}

.menu-icon__line {
    height: 2px;
    width: 2rem;
    display: block;
    background-color: #68bbe3;
    margin-bottom: 6px;
    transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu-icon__line-right {
    width: 1.0625rem;
    float: right;
}

.menu-icon__line-left {
    width: 1.0625rem;
}

.btn--neu.active {
    .menu-icon__line {
        transform: translateX(0px) rotate(-45deg);
    }

    .menu-icon__line-left {
        transform: translate(3px, 3px) rotate(45deg);
    }

    .menu-icon__line-right {
        transform: translate(-2px, -2px) rotate(45deg);
    }
}

.gui-side-bar.close {
    transform: translateX(-100%);
    transition: 0.25s all ease-in-out;
}

.ghost {
    width: 5rem;
    height: 6.25rem;
    display: block;

    .jb-df-ones {
        position: absolute;
        bottom: .75rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.25rem;
    }

    .body {
        width: 5rem;
        height: 6.25rem;
        border-top-right-radius: 5rem;
        border-top-left-radius: 5rem;
        background-color: #F5F6FA;
        animation: float 4s ease infinite;

        .face {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 2.25rem;
            height: 1.25rem;

            .eye {
                width: .625rem;
                height: .625rem;
                border-radius: 50%;
                background-color: $dark;
                float: left;

                &.left {
                    margin-right: 1rem;
                }
            }

            .smile {
                margin-top: .25rem;
                width: 1rem;
                height: .5rem;
                margin-left: .625rem;
                border-bottom-left-radius: 1rem .75rem;
                border-bottom-right-radius: 1rem .75rem;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: #272B24;
                float: left;
            }

            .rosy {
                position: absolute;
                top: 1rem;
                width: .625rem;
                height: .25rem;
                border-radius: 100%;
                background-color: #FCE2E6;

                &.left {
                    left: -.25rem;
                    transform: rotate(-8deg);
                }

                &.right {
                    right: -.25rem;
                    transform: rotate(8deg);
                }
            }
        }

        .arm {
            position: absolute;
            top: 4.25rem;
            width: 2rem;
            height: 1.5rem;
            background-color: #F5F6FA;

            &.left {
                left: 0;
                border-radius: 60% 100%;
                animation: arms-left 4s ease infinite;
            }

            &.right {
                right: -1rem;
                border-radius: 100% 60%;
                animation: arms-right 4s ease infinite;
            }
        }

        .bottom {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;

            > div {
                width: 20%;
                float: left;
                top: -.5rem;
                height: 1rem;
                border-radius: 100%;
                background-color: #F5F6FA;
            }

            div:nth-child(2n) {
                top: -.375rem;
                border-top: 4px solid #F5F6FA;
                background: transparent;
            }
        }
    }

    .shadow {
        position: absolute;
        bottom: -.75rem;

        /*     left: 50%; */
        width: 6.25rem;
        height: .375rem;
        border-radius: 100%;
        background-color: rgba($white, 0.3);
        animation: shadow 4s ease infinite;
    }
}

/* 
@keyframes float {
    0%,
    100% {
        top: 0px;
    }

    40% {
        top: -20px;
    }

}

@keyframes arms-left {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(50deg);
        transform: translate(-50%, -50%) rotate(50deg);
    }

    40% {
        -webkit-transform: translate(-50%, -50%) rotate(40deg);
        transform: translate(-50%, -50%) rotate(40deg);
    }

}

@keyframes arms-right {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-50deg);
        transform: translate(-50%, -50%) rotate(-50deg);
    }

    40% {
        -webkit-transform: translate(-50%, -50%) rotate(-40deg);
        transform: translate(-50%, -50%) rotate(-40deg);
    }

}

@keyframes shadow {
    0%,
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }

    40% {
        -webkit-transform: translateX(-50%) scale(0.5);
        transform: translateX(-50%) scale(0.5);
    }

} */

.pokemon {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px rgba($black, 0.3);
    background-color: #78d9ad;
    margin-bottom: 15px;

    .top {
        width: calc(64% - 20px);
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 16px solid #75b87e;
        margin: 0 auto;
        position: relative;
    }

    .middle {
        width: 10px;
        height: 14px;
        background-color: #639868;
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .square {
        position: absolute;
        background-color: #3c8a5d;
    }

    .square1 {
        left: 70px;
        top: 15px;
        width: 34px;
        height: 14px;
    }

    .square2 {
        left: 50px;
        top: 32px;
        width: 8px;
        height: 8px;
    }

    .square3 {
        left: 70px;
        top: 50px;
        width: 15px;
        height: 15px;
    }

    .eye {
        background-color: $white;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 1;
    }

    .eye-left {
        left: 13px;
        top: 53px;
    }

    .eye-right {
        left: 97px;
        top: 53px;
    }

    .fix {
        background-color: #78d9ad;
        position: absolute;
        width: 12px;
        height: 50px;
        transform: rotate(10deg);
        top: -5px;
        left: -7px;
        z-index: 1;
    }

    .fix2 {
        background-color: #78d9ad;
        position: absolute;
        width: 12px;
        height: 50px;
        transform: rotate(-10deg);
        top: -5px;
        right: -7px;
        z-index: 1;
    }

    .pupil {
        background-color: $white;
        width: 24px;
        height: 25px;
        border-top: 8px solid #bd414f;
        border-left: 8px solid #bd414f;
        border-right: 8px solid #bd414f;
        transform: translate(13px, 7px);
    }

    .pupil2 {
        background-color: $white;
        width: 26px;
        height: 25px;
        border-top: 8px solid #bd414f;
        border-left: 8px solid #bd414f;
        border-right: 8px solid #bd414f;
        position: relative;
        transform: translate(0px, 7px);
    }

    .pupil:after, .pupil2:after {
        background-color: #d6616d;
        position: absolute;
        content: "";
        height: 8px;
        width: 26px;
        top: 17px;
        left: -8px;
    }

    .nose {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 92px;
        width: 18px;
        height: 7px;
    }
}

.nose:after {
    background-color: #5aaa84;
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
}

.pokemon {
    .nose:before {
        background-color: #5aaa84;
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        right: 0;
    }

    .mouth {
        background-color: #944368;
        width: 72%;
        margin: auto;
        height: 0px;
        position: absolute;
        top: 105px;
        left: 0;
        right: 0;
        border-top: 2px solid #5aaa84;
    }

    .teeth {
        width: 95%;
        height: 10px;
        margin: 0 auto;
        z-index: 1;

        &:before {
            background-color: $white;
            content: "";
            position: absolute;
            height: 8px;
            width: 10px;
            right: 8px;
        }

        &:after {
            background-color: $white;
            content: "";
            position: absolute;
            height: 8px;
            width: 10px;
            left: 8px;
        }
    }

    .tongue {
        background-color: #ce779f;
        width: 70%;
        margin: 0 auto;
        height: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 45%;
        z-index: 0;
    }

    .sleep-eye {
        height: 5px;
        width: 30px;
        background-color: #5aaa84;
        position: absolute;
        top: 73px;
    }

    .sleep-eye-left {
        left: 13px;
    }

    .sleep-eye-right {
        right: 13px;
    }

    .red {
        position: absolute;
        height: calc(50% - 7px);
        width: 100%;
        top: 0;
        left: 0;
        background-color: #e74c3c;
        border-bottom: 15px solid #2d2d2d;
        z-index: 99;
        display: none;
    }

    .squareC2 {
        border: 10px solid #2d2d2d;
        background-color: white;
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
    }

    .done {
        background-color: #27ae60;
        position: absolute;
        z-index: 100;
        height: 0px;
        top: 0;
        left: 0;
        width: 190px;
        overflow: hidden;
        color: white;
        text-align: center;
        font-weight: bold;
        line-height: 190px;
        font-size: 20px;
    }
}

.col-style {
    padding: 1rem 0;
    text-align: center;
    border: 2px solid $white;
    box-shadow: 1px 1px 1px rgba($black, 0.12);
    background-color: #3c4856;
    border-radius: 2px;
    color: $white;
    text-transform: uppercase;
    font-size: 0.75rem;
}